// центрирование через абсолютное позиционирование
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

// Миксин для градиента с transition
@mixin weather-bg($start-color, $end-color) {
  background: linear-gradient(to bottom, $start-color, $end-color);
  transition: background-color var(--transition-duration) ease-in-out;
  // transition: background-color var(--transition-duration) ease;
}

@mixin hover-scale($size) {
  transition: transform var(--transition-duration);
  &:hover {
    transform: scale($size); // плавное увеличение размера на 10%
  }
}

@mixin hover-bg-color {
  transition: background-color var(--transition-duration);
  &:hover {
    background-color: var(--background-color);
  }
}