@use "../helpers" as *;

.arrow {
  &-left,
  &-right {
    scale: 2;
    transform-origin: center center;
    cursor: pointer; /* меняет курсор на руку */
    transition: transform var(--transition-duration); /* плавный переход для трансформации */
    &:hover {
      scale: 2.2; /* плавное увеличение размера на 10% */
    }
  }
  &-left {
    rotate: 180deg;
  }
}

.custom-prev,
.custom-next {
  position: absolute;
  z-index: 10; /* Поверх слайдера */
  transition: opacity var(--transition-duration);
  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}