@use "../helpers" as *;

.arrow {
  &-left,
  &-right {
    scale: 2;
    transform-origin: center center;
    cursor: pointer; /* меняет курсор на руку */
    
    @include hover-scale(1.1);
  }

  &-left {
    rotate: 180deg;
  }
  

}

.custom-prev,
.custom-next {
  position: absolute;
  z-index: 10; /* Поверх слайдера */
  transition: opacity var(--transition-duration);
  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }

    @include mobile {
    @include visually-hidden;
  }
}
