@use "../helpers" as *;

.current {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding-left: clamp(25px, 3.5vw, 40px);
  padding-bottom: 30px;
  // max-height: 800px;

  @include mobile {
    padding-left: 20px;
    padding-bottom: 0px;
    width: 100%;
  }

  &__city-data {
    margin-bottom: 10px;
    @include mobile {
      margin-bottom: 100px;
    }
  }

  &__city {
    font-size: clamp(28px, 4vh, 44px);
    margin-block: 15px;
    @include mobile {
      font-size: clamp(28px, 8.7vw, 40px);
      margin-block: 0.3em;
    }
  }

  &__data {
    font-size: var(--font-size-base);
    margin-block: 0px;
  }

  &__temperature {
    font-size: clamp(88px, 12.9vh, 140px);
    margin-block: 15px;
    @include mobile {
      font-size: 104px;
      font-size: clamp(72px, 25vw, 114px);
      margin-bottom: 8px;
    }
  }

  &-perceived {
    font-size: var(--font-size-base);

    &__icon {
      vertical-align: middle;
      @include square(1.5em);
      display: inline-block;
    }

    &__temperature {
      margin-top: 0.2em;
    }
  }
}
