@use "../helpers" as *;

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 10px;
  height: 100px;

  max-width: calc(
    var(--container-width) + var(--container-padding-x) * 2 + 100px
  );

  @include mobile {
    height: 70px;
  }

  &__form {
    font-size: clamp(18px, 2.6vh, 28px);
    position: relative;

    @media (width <= 950px) {
      font-size: clamp(18px, 1.9vh, 28px);
    }

    @include mobile {
      font-size: clamp(14px, 4.37vw, 20px);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      background: url(/public/images/magnifier.svg);

      @include square(1.4em);
      background-repeat: no-repeat;
      background-size: contain;

      @include mobile {
        @include square(1.4em);
      }
    }

    &.hide-after::after {
      opacity: 0;
      transition: opacity var(--transition-duration);
      pointer-events: none;
    }
  }

  &__input {
    font-size: 1em;
    width: clamp(300px, 37vh, 400px);
    padding: 12px;
    border-radius: var(--border-radius-input);
    background-color: var(--background-color);
    border: var(--border);
    outline: none;
    caret-color: var(--font-color);
    color: var(--font-color);

     @media (width <= 950px) {
      width: clamp(300px, 26.6vh, 400px);
    }

    @include mobile {
      width: clamp(200px, 60vw, 275px);
    }

    &::placeholder {
      color: var(--font-color);
    }

    &:focus {
      &::placeholder {
        opacity: 0; /* или color: transparent; */
        transition: opacity var(--transition-duration);
      }

      &::after {
        content: none; /* полностью скрыть */
        /* либо opacity: 0; или display: none; по ситуации */
      }
    }
  }

  &__burger-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    @include hover-bg-color;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: clamp(25px, 1.95vw, 32px);
      height: clamp(20px, 1.5vw, 25px);
      margin: 5px;
    }

    &-line {
      display: block;
      height: 3px;
      background-color: var(--font-color);
      border-radius: 2px;

      @media (width <= 1000px) {
        height: 2px;
      }
    }
  }
}

body.light-theme .header__form::after {
  background: url(/public/images/magnifier_black.svg);
  background-size: contain;
}
