@use "../helpers" as *;

.weather-condition {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-base);

  &__icon {
    // @include square(90px);
    vertical-align: middle;
    object-fit: contain;
    display: inline-block;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    @include square(3.25em);
    @include mobile {
    @include square(65px);
      @include square(3.25em);
    }

  }

  &__value {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}