@use "helpers" as *;

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-base);
  color: var(--font-color);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  transition: background-color var(--transition-duration)ease-in-out,
    color var(--transition-duration) ease-in-out;
  // transition: background-color var(--transition-duration)ease,
  //   color var(--transition-duration) ease;
  @include mobile-above {
    height: 100dvh;
  }
}

main {
  box-sizing: border-box;
  padding-top: clamp(10px, 5vh, 100px);
  width: 100%;
  display: flex;
  gap: 10px;

  @include mobile {
    flex-direction: column;
    padding-top: 40px;
  }
}
