@use "helpers" as *;

html, body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-base);
  color: var(--font-color);
  font-weight: 400;
  background-color: var(--body-background-color);
  display: flex;
  flex-direction: column;

  @include mobile-above {
    height: 100dvh;
  }
}

main {
  box-sizing: border-box;
  padding-top: clamp(10px, 3vh, 100px);
  width: 100%;
  // overflow: auto; /* если контент main не помещается */
  display: flex;
  gap: 10px;

  @include mobile {
    flex-direction: column;
    padding-top: 40px;
    // padding-top: clamp(10px, 3vh, 100px);
  }
}
