@use 'helpers' as *;

:root {
  --font-family-base: "Roboto", sans-serif;
  --font-size-base: clamp(20px, 2.78vh, 30px);
  --font-color: white;

  --border-radius: 14px;
  --border: 0px;
  --background-color: rgba(204, 202, 202, 0.5);

  --container-width: 1600px;
  --container-padding-x: 20px;

  --form-after-size: 40px;

  --transition-duration: 0.2s;
}
